.span {
  margin-bottom: 10px;
}

.Running {
  margin-top: 60px;
}

.jumbotron {
  margin-top: 10px;
}

.card1 {
  margin-left: 10px;
}

.card2 {
  margin-left: 140px;
}

.card3 {
  margin-left: 120px;
}
